.noEncontrado {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noEncontrado p{
  color: black !important;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}