.card-image-custom {
    height: 250px;
}

.card-custom{
    height: 500px
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-body-custom{
    padding: 3%;
  }

  .btn-custom1 {
    background-color: rgb(83, 83, 182);
    color: white;
  }
  .btn-custom1:hover {
    transition: 1s;
    background-color: rgb(0, 0, 99);    
    color: white;
  }
  .card p{
    text-align: left;
  }